<div id="home">
 <section id="about">
   <div>
     <h2>Jessica Sanders</h2>
     <h3>PhD | PMP</h3>
     <p>
       {{ page.about | markdownify }}
     </p>
     <a href="" class="btn white">Download CV</a>
   </div>
 </section>
 <section id="experience">
   <div>
     <h2>Professional Experience</h2>
     {% for experience in page.experience %}
     <div class="experience-grid pure-g">
       <div class="pure-u-1 pure-u-md-1-4 time-col">
         <div class="experience-timeline">
          {{ experience.timeline }}
         </div>
       </div>
       <div class="pure-u-1 pure-u-md-3-4 details-col">
         <div>
           <h3>{{ experience.org }}</h3>
           {% for role in experience.role %}
           <div class="role">
             <div class="role-title">
               {{ role.title }}
             </div>
             <div class="role-timeline">
               {{ role.timeline }}
             </div>
             <div class="role-desc">
               {{ role.description | markdownify }}
             </div>
           </div>
           {% endfor %}
         </div>
       </div>
     </div>
     {% endfor %}
   </div>
 </section>
 <section id="publications">
   <div>
    <h2>Select Publications</h2>
    <div class="pure-g pub-grid">
      {% for pub in page.publications %}
      <div class="pure-u-1 pure-u-md-1-2">
        <h3>
          {{ pub.title }} <span class="pub-vol">{{ pub.volume }}</span>
        </h3>
        <div class="authors">
          {{ pub.authors }} <span class="pub-year">({{ pub.publish_date }})</span>
        </div>
        <a class="btn" href="{{ pub.link }}" target="_blank">
          <i class="fa fa-file-text-o"></i> View
        </a>
      </div>
      {% endfor %}
    </div>

   </div>
 </section>
 <section id="leadership">
   <div>

   </div>
 </section>
</div>
