<div id="home">
 <section id="about">
   <div>
     <div class="headshot">
       <img src="{{ base }}/images/jess-headshot.jpeg" />
     </div>
     <h2>Jessica Sanders</h2>
     <h3>PhD | PMP</h3>
     <p>
       {{ page.about | markdownify }}
     </p>
     <a href="" class="btn white">Download CV</a>
   </div>
 </section>
 <section id="experience">
   <div>
     <h2>Professional Experience</h2>
     {% for experience in page.experience %}

      {% if forloop.last == true %}
        {% assign last = 'last' %}
      {% endif %}

     <div class="experience-grid pure-g">
       <div class="pure-u-1 pure-u-md-1-4 time-col">
         <div class="experience-timeline">
          {{ experience.timeline }}
         </div>
       </div>
       <div class="pure-u-1 pure-u-md-3-4 details-col {{last}}">
         <div>
           <h3>{{ experience.org }}</h3>
           {% for role in experience.role %}
           <div class="role">
             <div class="role-title">
               <h4>{{ role.title }}</h4>
             </div>
             <div class="role-timeline">
               {{ role.timeline }}
             </div>
             <div class="role-desc">
               {{ role.description | markdownify }}
             </div>
           </div>
           {% endfor %}
         </div>
       </div>
     </div>
     {% endfor %}
   </div>
 </section>
 <section id="publications">
   <div>
    <h2>Select Publications</h2>
    <div class="pure-g pub-grid">
      {% for pub in page.publications %}
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="pub-authors">
          {{ pub.authors }} <span class="pub-year">({{ pub.publish_date }})</span>
        </div>
        <div class="pub-title">
        <h4>
          {{ pub.title }}
        </h4>
        <div class="pub-vol">{{ pub.volume }}</div>
        </div>

        <a class="btn" href="{{ base }}{{ pub.link }}" target="_blank">
          <i class="fa fa-file-text-o"></i> View
        </a>
      </div>
      {% endfor %}
    </div>

   </div>
 </section>
 <section id="leadership">
   <div>
     <h2>Leadership</h2>
     {% for leadership in page.leadership %}
      <div class="leadership-section">
         <h3>{{ leadership.organization }}</h3>
         <div class="leadership-roles">
           {% for role in leadership.role %}
            <div class="role">
              <h4 class="role-title">{{role.title}}</h4>
              <div class="role-timeline">{{ role.timeline }}</div>
            </div>
           {% endfor %}
         </div>
       </div>
     {% endfor %}
   </div>
 </section>
 <section id="education">
  <div>
    <h2>Education</h2>
    <div class="ed-timeline">
    {% for ed in page.education %}
    <div class="ed-section {% cycle 'odd', 'even' %} {{ forloop.last }}">
      <div class="section-inner">
        <div class="ed-cert">
          <h4>{{ ed.cert }}</h4>
        </div>
        <div class="ed-school">
            {{ ed.school }}
        </div>
        <div class="cert-year">
          {{ ed.year }}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
 </section>
</div>
