html,
body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
//Default Fonts
h1, h2, h3, h4, h5 {
	font-family: $header-font;
	margin-top: 0;
	margin-bottom: 1rem;
}
body {
	font-family: $body-font;
	font-size: 16px;
}
b, strong {
	font-family: $header-font;
	font-weight: bold;
}

//Links
a {
	font-weight: bold;
	text-decoration: none;
	color: $body_link;
	@include transition(all);
	&:hover, &:active, &:focus {
		color: $body_link_hover;
	}
}
//Buttons
.btn {
	border-radius: $border_radius;
	background-color: $primary_color;
	color: $white;
	white-space: normal;
	font-family: $header_font;
	display: inline-block;
	padding: 0.5em 1em;
	@include transition(box-shadow);
	&:hover, &:focus {
		@include box-shadow;

	}
	&.white {
		background-color: $white;
		color: $primary_color;
	}
}

#wrapper {
	min-height: 100%;
	position:relative;
	background-color: $l_gray;
	padding: 2em;
}
$sidebar: 175px;
//main
#main {
	position: relative;
	max-width: $size-large;
	margin: auto;
	border-radius: $border_radius;
	background-color: $white;


	z-index: 1;
	section {
		position: relative;
		padding: 2em;
		& > div {

			h2 {
				text-align: center;
			}
		}
	}
}
//menu
.menu-toggle {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	z-index: 10;
	@include box-shadow;
	background-color: $white;
	color: $orange;
	height: 2.5em;
	width: 1.5em;
	right: 0;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	i {
		font-size: 1.5em;
		position: relative;
		top: 0.5rem;
		left: 0.5rem;
		@include transform(rotate(0deg));
		@include transition(transform);
	}
	&.scroll {
		@include transition(background-color,color);
		background-color: $orange;
		color: $white;
	}
}
#site-nav {
	position: absolute;
	right: 0;
	top: 1em;
	&.menu-open {
		z-index: 11;
		.nav-links {
			opacity: 1;
			@include transform(translateX(0%));
		}
		.menu-toggle {
			i {
				@include transform(rotate(180deg));
			}

		}
	}
	.nav-links {
		margin: 0;
		padding: 1em;
		opacity: 0;
		@include box-shadow;
		background-color: $white;
		position: relative;
		@include transform(translateX(100%));
		@include transition(opacity,transform);
		padding-right: 2em;
		li {
			list-style: none;
			margin: 0.5em 0;
		}
	}
}
//Form Inputs
input,textarea {
	&:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
		width: 100%;
		padding: 0.5em;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
	}
	&:active, &:focus {
		outline: 0;
	}

	&.submit {
		white-space: normal;
	}
}
