html,
body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
//Default Fonts
h1, h2, h3, h4, h5 {
	font-family: $header-font;
	margin-top: 0;
	margin-bottom: 1rem;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}
body {
	font-family: $body-font;
	font-size: 16px;
}
b, strong {
	font-weight: bold;
}

//Links
a {
	text-decoration: none;
	color: inherit;
}
//Buttons
.btn {
	border-radius: $border_radius;
	background-color: $primary_color;
	color: $white;
	white-space: normal;
	font-family: $header_font;
	display: inline-block;
	padding: 0.5em 1em;
	margin: 1em 0;
	@include transition(box-shadow);
	&:hover, &:focus {
		@include box-shadow;

	}
	&.white {
		background-color: $white;
		color: $primary_color;
	}
}

#wrapper {
	min-height: 100%;
	position:relative;
	background-color: $l_gray;
	padding: 2em;
	//background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23cdcac3' fill-opacity='1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
	background-image: url('/images/leaves-bg.svg');

}
$sidebar: 175px;
//main
#main {
	position: relative;
	max-width: $size-large;
	margin: auto;
	border-radius: $border_radius;
	background-color: $white;
	overflow: hidden;
	z-index: 1;
	@include box-shadow;
	section {
		position: relative;
		padding: 2em;
		& > div {
			h2 {
				text-align: center;
			}
		}
	}
}
//menu
.menu-toggle {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	z-index: 10;
	@include box-shadow;
	background-color: $white;
	color: $orange;
	height: 2.5em;
	width: 1.5em;
	right: 0;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	i {
		font-size: 1.5em;
		position: relative;
		top: 0.5rem;
		left: 0.5rem;
		@include transform(rotate(0deg));
		@include transition(transform);
	}
	&.scroll {
		@include transition(background-color,color);
		background-color: $orange;
		color: $white;
	}
}
//Form Inputs
input,textarea {
	&:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
		width: 100%;
		padding: 0.5em;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
	}
	&:active, &:focus {
		outline: 0;
	}

	&.submit {
		white-space: normal;
	}
}
