html,
body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
//Default Fonts
h1, h2, h3, h4, h5 {
	font-family: $header-font;

}
body {
	font-family: $body-font;
	font-size: 14pt;
}
b, strong {
	font-family: $header-font;
	font-weight: bold;
}

//Links
a {
	font-weight: bold;
	text-decoration: none;
	color: $body_link;
	@include transition(all);
	&:hover, &:active, &:focus {
		color: $body_link_hover;
	}
}
//Buttons
.btn {
	border-radius: $border_radius;
	background-color: $primary_color;
	color: $white;
	white-space: normal;
	font-family: $header_font;
	display: inline-block;
	padding: 0.5em 1em;
	@include transition(box-shadow);
	&:hover, &:focus {
		@include box-shadow;

	}
	&.white {
		background-color: $white;
		color: $primary_color;
	}
}

#wrapper {
	min-height: 100%;
	position:relative;
	background-color: $l_gray;
	padding: 2em;
}

//main
#main {
	position: relative;
	max-width: $size-large;
	margin: auto;
	border-radius: $border_radius;
	background-color: $white;
	overflow: hidden;
	@include box-shadow;
	section {
		padding: 1em 2em;
	}
}
//menu
#menu-toggle {
	position: fixed;
	right: 0;
	top: 2em;
	z-index: 10;
	@include box-shadow;
	background-color: $orange;
	color: $white;
	height: 2em;
	width: 3em;
}
//Form Inputs
input,textarea {
	&:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
		width: 100%;
		padding: 0.5em;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
	}
	&:active, &:focus {
		outline: 0;
	}

	&.submit {
		white-space: normal;
	}
}
