#home {
  $section-border: solid 2px $l_gray;
  #about {
    color: $white;
    text-align: center;
    background-color: $primary_color;
    .headshot {
      $headshot: 150px;
      height: $headshot;
      width: $headshot;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 2em;
      img {
        max-width: 100%;
      }
    }
  }
  #experience {
    .experience-grid {
      .time-col {
        text-align: right;
        @include bp-medium {
          text-align: left;
        }
      }
      .experience-timeline {
        background-color: $primary_color;
        padding: 1em;
        font-size: 0.85em;
        text-align: center;
        position: relative;
        display: inline-block;
        color: $white;
        margin-right: 2em;
        @include bp-medium {
          margin-right: 0;
          margin-left: 2em;
        }
        &:after {
          content: '';
          left: 100%;
          top: 0;
          $triangle: 22px;
          border-top: $triangle solid transparent;
          border-bottom: $triangle solid transparent;
          border-left: $triangle solid $primary_color;
          position: absolute;
          @include bp-medium {
            border-top: $triangle solid transparent;
            border-bottom: $triangle solid transparent;
            border-right: $triangle solid $primary_color;
            border-left: none;
            left: -$triangle;
          }
        }
      }
      .details-col {
        position: relative;
        $top: 29px;
        &:before {
          content: '';
          position: absolute;
          left: 1px;
          top: 29px;
          height: 100%;
          width: 2px;
          background-color: $primary_color;
          @include bp-medium {
            top: -$top;
            height: calc(100% + 4em);
          }
        }
        &:after {
          $circle: 1em;
          content: '';
          background-color: $white;
          border: 2px solid $primary_color;
          border-radius: 50%;
          position: absolute;
          height: 1em;
          width: 1em;
          left: -0.5em;
          top: 1em;
          @include bp-medium {
            top: -$top;
          }
        }
        &.last {
          &:before {
            display: none;
          }
        }
        & > div {
          margin-left: 0.5em;
        }
        h3 {
          margin-top: 0.5rem;
        }
        .role-title {
          h4 {
            margin-bottom: 0;
          }
        }
        .role-timeline {
          color: $gray;
        }
      }
    }
  }
  #teaching {

    .school {
      position: relative;

      .school-title {
        margin-bottom: 1em;
        h3 {
          display: table-cell;
          vertical-align: middle;
        }
        .school-logo {
          display: table-cell;
          vertical-align: middle;
          padding-right: 0.5em;
          svg {
            height: 2.5em;
            max-width: 100%;
          }
        }
      }
      .school-role {
        h4 {
          margin-bottom: 0;
        }
        .course {
          margin: 1em 0 1em 1em;

          // position: relative;
          // &:before {
          //   position: absolute;
          //   left: -1.5em;
          //   top: 0;
          //   content: "\f19d";
          //   font-family: 'FontAwesome';
          //   color: $primary_color;
          // }
          .course-semester {
            font-style: italic;
          }
        }
      }

    }
  }
  #leadership {
    .leadership-section {
      margin-bottom: 2em;
      .leadership-roles {
        margin-left: 2em;
        .role {
          margin-bottom: 1em;
          position: relative;
          &:after {
            content: '\f046';
            font-family: 'FontAwesome';
            position: absolute;
            left: -1.25em;
            top: 0;
            color: $primary_color;
          }
          .role-title {
            margin: 0;
          }
        }

      }
    }

  }
  #publications {
    .pub-slider {

      .pub-slide {
        padding: 0 2em;

        .slide-inner {
          padding: 1em;
          padding-bottom: 4em;
          position: relative;
          height: 100%;
          @include box-shadow;
          .pub-title {

          }
          .btn {
            position: absolute;
            bottom: 0;
          }
        }
      }
      //slick overrides
      .slick-list,
      .slick-track {
        height: 100%;
        justify-content: center;
      }

      .slick-track {
        margin: 1em 0;
      }
      .slick-dots li {
        button:before {

        }
        &.slick-active {
          button:before {
            color: $primary_color;
            opacity: 1;
          }
        }
      }


    }

  }
  #education {
    .ed-timeline {

    }
    .ed-section {
      padding-bottom: 2em;
      position: relative;
      .section-inner {
        display: inline-block;
        width: 50%;
        position: relative;
        .cert-year {
          position: absolute;
          top: 0.5em;
        }
      }
      $circle: 1.5em;
      &:after {
        position: absolute;
        content: '';
        width: $circle;
        height: $circle;
        left: 50%;
        @include transform(translateX(-50%));
        border: 2px solid $primary_color;
        background-color: $white;
        border-radius: 50%;
      }
      &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        left: 50%;
        @include transform(translateX(-50%));
        top: 0;
        background-color: $primary_color;
      }
      &.odd {
        text-align: left;
        & > div {
          text-align: right;
          padding-right: $circle;
        }
        .cert-year {
          right: -4em;
        }
      }
      &.even {
        text-align: right;
        & > div {
          text-align: left;
          padding-left: $circle;
        }
        .cert-year {
          left: -4em;
        }
      }
      &.true {
        &:before {
          display: none;
        }
      }

      h4 {
        margin: 0.5rem 0 0;
      }
    }
  }
}
