#home {
  $section-border: solid 2px $l_gray;
  #about {
    color: $white;
    text-align: center;
    background-color: $primary_color;
  }
  #experience {
    .experience-grid {
      .experience-timeline {
        background-color: $primary_color;
        padding: 1em;
        font-size: 0.85em;
        text-align: center;
        position: relative;
        color: $white;
        margin-right: 1em;
        &:after {
          content: '';
          left: 100%;

          top: 0;
          $triangle: 1.5em;
          border-top: $triangle solid transparent;
          border-bottom: $triangle solid transparent;
          border-left: $triangle solid $primary_color;
          position: absolute;
        }
      }
      .details-col {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 2px;
          top: 0;
          height: 100%;
          width: 2px;
          background-color: $primary_color;

        }
        h4 {

        }
        .role-title {

        }
        .role-timeline {
          color: $gray;
          font-size: 0.75em;
        }
      }
    }
  }
  #leadership {
    .leadership-section {
      margin-bottom: 2em;
      .leadership-roles {
        margin-left: 2em;
        .role {
          margin-bottom: 1em;
          position: relative;
          &:after {
            content: '\f067';
            font-family: 'FontAwesome';
            position: absolute;
            left: -1.25em;
            top: 0;
            color: $primary_color;
          }
          .role-title {
            margin: 0;
          }
        }

      }
    }

  }
  #education {
    .ed-timeline {
      max-width: $size-medium;
      margin: auto;
    }
    .ed-section {
      padding-bottom: 2em;
      position: relative;
      & > div {
        display: inline-block;
        width: 50%;
      }
      $circle: 1.5em;
      &:after {
        position: absolute;
        content: '';
        width: $circle;
        height: $circle;
        left: 50%;
        @include transform(translateX(-50%));
        border: 2px solid $primary_color;
        background-color: $white;
        border-radius: 50%;
      }
      &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        left: 50%;
        @include transform(translateX(-50%));
        top: 0;
        background-color: $primary_color;
      }
      &.odd {
        text-align: left;
        & > div {
          text-align: right;
          padding-right: $circle;
        }
      }
      &.even {
        text-align: right;
        & > div {
          text-align: left;
          padding-left: $circle;
        }
      }
      &.true {
        &:before {
          display: none;
        }
      }

      h3 {
        margin: 0.5em 0 0;
      }
    }
  }
}
