#blog-post {

  #hero {
    padding-bottom: 0;
    h1 {
      margin-bottom: 0;
    }
  }
  #post-body {
    padding: 0;

    @include flexbox;
    .author {
      background-color: $primary_color;
      color: $white;

      text-align: center;
      padding: 1em;
      .author-img {
        $img-size: 4em;
        height: $img-size;
        width: $img-size;
        border-radius: 50%;
        margin: auto;
        display: block;
        margin-bottom: 1em;
      }
      .author-name {
        margin-bottom: 0.5rem;
      }
    }
    .post-content {
      max-width: $size-small;
      padding: 0 2em 2em;
    }
  }
}
