---
layout: compress
menus: sidebar
---
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div id="wrapper">
        <div id="main">
          <nav id="site-nav">
            <div class="menu-toggle">
              <i class="fa fa-angle-left"></i>
            </div>
            <ul class="nav-links">
              {% for item in site.data.menus.sidebar %}
              <li>
                <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
          {{ content }}
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{ site.baseurl }}/js/site_functions.js"></script>
</body>
